li {
    background-color: aqua;
    font-size: small;
}

h1 {
    background-color: blue;
}

h2 {
    background-color: rgb(220, 20, 53);
}

ul {
    background-color: chartreuse;
    font-size: large;
    font-style: italic;
}

.demo {
    background-color: blueviolet;

}

.areatriangulo {
    background-color: chartreuse;
}

.buttontriangulo {
    color: blueviolet;
}