li {
    background-color: aqua;
    font-size: small;
}

h1 {
    background-color: blue;
}

h2 {
    background-color: crimson;
}

ul {
    background-color: chartreuse;
    font-size: large;
    font-style: italic;
}

.demo {
    background-color: blueviolet;

}