li {
    background-color: aqua;
    font-size: small;
}

h1 {
    background-color: blue;
}

h2 {
    background-color: rgb(220, 20, 53);
}

p {
    background-color: gold;
}

ul {
    background-color: chartreuse;
    font-size: large;
    font-style: italic;
}

.demo {
    background-color: blueviolet;

}

.areatriangulo {
    background-color: chartreuse;
}

#base {
    background-color: pink;
}

.buttontriangulo {
    color: blueviolet;
    background-color: rgb(180, 169, 169);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.075);
    border-radius: 10%;
}